/*!***************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./pages/headers-footers/headers-footers.scss ***!
  \***************************************************************************************************************************************/
.page {
  background-color: E5E5E5;
}
/*!********************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./styles.scss ***!
  \********************************************************************************************************/
.footer .text {
  color: #8b0d0d;
  text-align: center;
  text-shadow: 80px;
}
