.color-dark-shade{
 background-color: #1f2041;
}

.color-dark-shade-75{
 opacity: 0.75;
}

.color-dark-shade-50{
 opacity: 0.50;
}

.color-dark-shade-25{
 opacity: 0.25;
}

.color-dark-shade-5{    
 opacity: 0.05;
}

.color-purple{
 background-color: #BC9CFF
}

.color-green{
 background-color: #6FCF97;
}
