.container{    
 display: grid;
 gap: 20px;
 grid-template-columns: repeat(2, 100px, auto);
}

[class^="box-"]{
 display: grid;
 place-items: center;
 gap: 15px;
}

.square{
 width: 70px;
 height: 70px;
 border-radius: 6px; 
}