- var title="Color&type";
   .container
    .box-1
     .square.color-dark-shade
     .square.color-dark-shade.color-dark-shade-75
     .square.color-dark-shade.color-dark-shade-50
     .square.color-dark-shade.color-dark-shade-25
     .square.color-dark-shade.color-dark-shade-5
     .square.color-purple
     .square.color-green
    .box-2
     h1 This one is the sub-section or widged title
     h2 Next one the item title inside widgets
     h3 This is a label or cta text
     .body-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus incidunt aut vero, ullam quas dignissimos voluptas, facilis, quisquam eligendi atque omnis dolores repellat expedita? Rem aliquid eos tenetur vitae voluptatibus.
     
