- var title="Headers&Footers";
include ../../components/footer/footer.pug 
h1=title
.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus incidunt aut vero, ullam quas dignissimos voluptas, facilis, quisquam eligendi atque omnis dolores repellat expedita? Rem aliquid eos tenetur vitae voluptatibus.
 p Здесь собраны все элементы сайта
 

