//- layout.pug
block variables
 - var title = 'MetaLamp Сайт гостиницы'
 - var head = 'METALamp'
 - var content = 'Контент страницы по умолчанию'

doctype html
html(lang="ru")
 head
  link(rel='stylesheet' href='./styles.css')
  title #{title}
  block scripts
   script(src='./index.js')  
 body
  block header
  block content 
   main
    div.content
  block footer
 